{% extends 'default/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ block.super }}Install CartVine on your shopify.com Store{% endblock %}

{% block content-head %}
{% if not current_shop %}
<h1>Install CartVine on your shopify.com Store</h1>
{% else %}
<h1>Welcome to CartVine</h1>
{% endif %}
{% endblock %}

{% block body %}
{% if not user.is_authenticated %}
    <form action="{% url 'default:index' %}" method="GET" class="form-horizontal">
        {{ form.shop.errors }}
        <label for="id_shop">{{ form.shop.label }}</label>
        {{ form.shop }}<span class="input-append">.myshopify.com</span>
        <div class="help_text">{{ form.shop.help_text }}</div>

        <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
        </div>
    </form>
{% else %}
    <h3>You have successfully installed the CartVine App</h3>
    <p>Now you can:</p>
    <ul>
        <li><i class="icon-ok-circle"></i><a href="{% url 'my_app:settings' %}">Setup your app settings</a></li>
        <li><i class="icon-asterisk"></i><a href="{% url 'my_app:design' %}">Setup your product review page</a></li>
    </ul>
    <ul>
        <li><i class="icon-ok-circle"></i><a href="{% url 'product:index' %}">Products</a></li>
        <li><i class="icon-ok-circle"></i><a href="{% url 'review:index' %}">Products Reviews</a></li>
        <li><i class="icon-ok-circle"></i><a href="{% url 'customer:index' %}">Customers</a></li>
        <li><i class="icon-ok-circle"></i><a href="{% url 'mail:index' %}">View pending invitation messages</a></li>
    </ul>
{% endif %}
{% endblock %}
