{% extends 'base-facebook_user.html' %}
{% load facebook templatetag_handlebars %}

{% block ember-view %}
{% tplhandlebars "fb_login" %}
    {{#if App.FBUser}}

      <div class="span4 pull-left">
          <h2>Welcome...now.. start shoppiing!</h2>
          <div class="pull-right">{{App.FBUser.name}}
          <br/><a href="#" {{action "logout" target="FB"}}>Logout</a>
          </div>
          <img {{bindAttr src="App.FBUser.picture" alt="App.FBUser.name"}} />
      </div>
      <div class="clearfix">&nbsp;</div>

    {{else}}
      {{#view Em.FacebookView type="login-button" data-size="xlarge" data-scope="email, read_stream, publish_stream, offline_access"}}
        Connect
      {{/view}}
    {{/if}}
{% endtplhandlebars %}
{% endblock %}

{% block body %}
<div id="login" class="hero-unit"></div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    if ($('div#login').length) {
        fb_login_view.appendTo('div#login'); 
    }
});
</script>
{% endblock %}
