{% extends 'base-facebook_user.html' %}
{% load url from future %}

{% block content-head %}
<div id="page-title"></div>
{% endblock %}

{% block body %}

<div id="customer-nav"></div>
<div id="login" class="hero-unit"></div>
<div id="shop-list" class=""></div>
<div id="product-list" class=""></div>
<div class="clearfix">&nbsp;</div>

{% endblock %}

{% block ember-view %}

{% include 'default/facebook-login.html' %}

{% endblock %}


{% block js %}
<script>
$(document).ready(function() {
    if ($('div#login').length) {
        fb_login_title_view.appendTo('div#page-title');
        fb_login_nav_view.appendTo('div#customer-nav');
        fb_login_view.appendTo('div#login'); 

        shops_partial_view.appendTo('div#shop-list'); 
    }
});
</script>
{% endblock %}
