{% extends 'widget/base.html' %}
{% load i18n markup cartvine_widget_tags %}
{% load url from future %}

{% block title %}{% trans 'Info for' %} {{ object.name }}{% endblock %}

{% block content-head %}
<h1>{{ object.name }}</h1>
{% endblock %}


{% block body %}

{% widget_details as info %}

<blockquote>
{{ info.summary|markdown:"safe" }}
</blockquote>


<div>
{{ info.detail|markdown:"safe" }}
</div>

<div>
	<button class="configure-me btn btn-success" data-url="{% url 'widget:edit' slug=object.slug %}" href="#"><i class="icon-ok icon-white"></i>{% trans 'Configure' %}</button>
	<button class="install-me btn btn-info" data-url="{% url 'widget:buy' slug=object.slug %}" href="#">FREE</button>
</div>


{% if object.widget_type == 'js' %}
<p>&nbsp;</p>

<div class="clearfix">
<h2>{% trans 'Installation' %}</h2>
{% include 'widget/partials/widget-install.html' %}
</div>
{% endif %}
{% endblock %}
