{% extends 'widget/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Your installed Widgets' %}{% endblock %}

{% block content-head %}
<h1>{% trans 'Your installed Widgets' %}</h1>
{% endblock %}

{% block body %}

<ul id="list-my-widget" class="list">
{% for w in object_list %}
    <li><a href="{% url 'widget:edit' slug=w.slug %}">{{ w }}</a></li>
{% empty %}
    {% trans 'You have no widgets installed.. probably need to buy one from us?' %}
{% endfor %}
</ul>

{% endblock %}
