{% extends 'widget/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Your installed Widgets' %}{% endblock %}

{% block content-head %}
<h1>{% trans 'Cartvine Widgets' %}</h1>
{% endblock %}

{% block body %}

<div class="hero-unit">
    <p>{% trans 'Once I have a widget from your store; how do I install it into my shopify store?' %}</p>
    <blockquote>
        <strong>{% trans 'Place the following code into your primary liquid template (index.liquid)' %}</strong><br/>
        <code>
        &lt;script src="http://{{ request.get_host }}/widget/cartvine-loader.js"&gt;&lt;/script&gt;
        </code>
    </blockquote>
    <p>{% trans 'Once that is done, the script will automatically take care of your widgets. But, remember to configure each widget if you want it to be injected into a specific HTML Element; otherwise it just gets appended to the body HTML element.' %}</p>
</div>

<h2>{% trans 'Your Installed Widgets' %}</h2>
<ul id="list-my-widget" class="list">
{% for w in object_list %}
    <li>
        <a href="{% url 'widget:edit' slug=w.slug %}">{{ w }}</a>
        <button class="btn btn-success" href="#"><i class="icon-star icon-white"></i>&nbsp;Installed</button>
    </li>
{% empty %}
    {% trans 'You have no widgets installed.. probably need to select one of ours?' %}
{% endfor %}
</ul>

<h2>{% trans 'Available Widgets' %}</h2>
<ul id="list-available-widget" class="list">
{% for w in available_widgets %}
    <li>
        <a href="{% url 'widget:info' slug=w.slug %}">{{ w }}</a>
        {% if w not in object_list %}
        <button class="install-me btn btn-info" data-url="{% url 'widget:buy' slug=w.slug %}" href="#"><i class="icon-asterisk icon-white"></i>&nbsp;Install</button>
        {% else %}
        <button class="btn btn-success" href="#"><i class="icon-star icon-white"></i>&nbsp;Installed</button>
        {% endif %}
    </li>
{% empty %}
    {% trans 'Strange.. we dont seem to have any widgets available..' %}
{% endfor %}
</ul>

{% endblock %}


{% block js %}
<script>

$(document).ready(function(){

    $('button.install-me').live('click', function (e) {
        event.preventDefault();
        $.ajax({
                url: $(this).attr('data-url'),
                type: 'GET'
            })
            .done(function(data, textStatus, jqXHR) {
                console.log(data)
            })
            .fail(function(data) { 
                console.log(data)
            });
    });

});

</script>
{% endblock %}