{% extends 'widget/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Your installed Widgets' %}{% endblock %}

{% block content-head %}
<h1>{% trans 'Cartvine Widgets' %}</h1>
{% endblock %}

{% block body %}

<div class="hero-unit">
    <p>{% trans 'Once I have a widget from your store; how do I install it into my shopify store?' %}</p>
    <blockquote>
        <strong>{% trans 'Place the following code into your primary liquid template (index.liquid)' %}</strong><br/>
        <code>
        &lt;script src="http://{{ request.get_host }}/widget/cartvine-loader.js"&gt;&lt;/script&gt;
        </code>
    </blockquote>
    <p>{% trans 'Once that is done, the script will automatically take care of your widgets. But, remember to configure each widget if you want it to be injected into a specific HTML Element; otherwise it just gets appended to the body HTML element.' %}</p>
</div>

<h2>{% trans 'Available Widgets' %}</h2>
<ul id="list-available-widget" class="widget-list pull-left">
{% for w in available_widgets %}
    <li>
        <div class="widget-icon">
            <a href="{% url 'widget:info' slug=w.slug %}"><img src="{{ STATIC_URL }}{{ w.widget_list_image }}" border="0" /></a>
            <a href="{% url 'widget:info' slug=w.slug %}">{{ w }}</a>
        </div>
        {% if w not in object_list %}
        <button class="install-me btn btn-info" data-url="{% url 'widget:buy' slug=w.slug %}" href="#">FREE</button>
        {% else %}
        <button class="btn btn-success" href="#"><i class="icon-ok icon-white"></i>&nbsp;Installed</button>
        {% endif %}
    </li>
{% empty %}
    {% trans 'Strange.. we dont seem to have any widgets available..' %}
{% endfor %}
</ul>

{% endblock %}

{% block css %}
<style>
ul.widget-list{
list-style:none;
}
ul.widget-list li{
    text-align:center;
}
ul.widget-list li button.btn{
    margin:2px 0px 15px 0px;
}
div.widget-icon{
    width:80px;
    min-height:80px;
    padding:10px;
    border:solid #3d3d3d 5px ;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
</style>
{% endblock %}
{% block js %}
<script>

$(document).ready(function(){

    $('button.install-me').live('click', function (e) {
        event.preventDefault();
        $.ajax({
                url: $(this).attr('data-url'),
                type: 'GET'
            })
            .done(function(data, textStatus, jqXHR) {
                // @TODO turn this into an emberjs app function that dynamically updates teh collection
                document.location.reload();
            })
            .fail(function(data) { 

            });
    });

});

</script>
{% endblock %}
