*.pyc
*.sqlite3
*.swp
*.swo
local_settings.py
*.db
*.sqlite
tags

.AppleDouble
:2e_*
._*
.DS_Store
/media/*
/static/*
/log/*.log
/MANIFEST
/build
/dist
/dateutil
/django
/djangoappengine
/djangotoolbox
/pyactiveresource
/shopify
