django
django_annoying
django_extensions
Werkzeug
mysql-python
python-memcached
markdown 

# http://www.mattjmorrison.com/2011/09/mocking-django.html
# http://www.voidspace.org.uk/python/mock/index.html#installing
mock

south

-e git+https://github.com/Shopify/shopify_python_api.git#egg=shopify

-e git+https://github.com/django-debug-toolbar/django-debug-toolbar.git#egg=django-debug-toolbar

# Email template system
-e git+https://github.com/bradwhittington/django-templated-email.git#egg=django-templated-email

# Tasks
# apt-get install rabbitmq-server
django-celery

# Thumbnails
pil
-e git+https://github.com/sorl/sorl-thumbnail.git#egg=sorl-thumbnail

# JSONField
-e git+https://github.com/bradjasper/django-jsonfield.git#egg=django-jsonfield


# Facebook Connected Integration
-e git+git://github.com/stard0g101/facebook-python-sdk.git#egg=facebook-python-sdk
-e git+https://github.com/stard0g101/django-facebook.git#egg=django-facebook
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
# Handlebar templates in django
-e git+https://github.com/stard0g101/django-templatetag-handlebars.git#egg=django-templatetag-handlebars
-e git+https://github.com/stard0g101/django-socialregistration.git#egg=django-socialregistration

# Pretty django forms with bootstrap
-e git+https://github.com/stard0g101/django-bootstrap.git#egg=django-bootstrap

# Filterset for model filters like admin
git+https://github.com/alex/django-filter.git#egg=django-filter

