{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}

<div id="editPropertiesModal" class="modal hide fade">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{% trans 'Edit Properties' %}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">{% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input01">{% trans 'Product Type' %}</label>
                    <div class="controls">
                      <select id="select01" class="swaptoinput">
                          <option>Shirts</option>
                          <option>Shoes</option>
                          <option disabled>--------</option>
                          <option class="new">{% trans 'Create new type...' %}</option>
                       </select>
                       <div class="new-input">
                           <input type="text" class="span3  focused" id="input01" placeholder="{% trans 'Enter new type' %}">
                       </div>
                    </div>
                </div>            
                <div class="control-group">
                    <label class="control-label" for="input01">{% trans 'Product Vendor' %}</label>
                    <div class="controls">
                      <select id="select01" class="swaptoinput">
                          <option>Microsoft</option>
                          <option>Apple</option>
                          <option disabled>--------</option>
                          <option class="new">{% trans 'Create new Vendor...' %}</option>
                       </select>
                       <div class="new-input">
                           <input type="text" class="span3 focused" id="input01" placeholder="{% trans 'Enter vendor name' %}">
                       </div>
                    </div>
                </div>      
                <div class="control-group">
                    <div class="span2">
                      <select id="select01" class="swaptoinput span2">
                          <option>Title</option>
                          <option>Size</option>
                          <option disabled>--------</option>
                          <option class="new">{% trans 'Custom' %}</option>
                       </select>
                       <div class="new-input">
                           <input type="text" class="span2" id="input01" placeholder="{% trans 'Custom' %}">
                       </div>
                    </div>
                    <div class="span4">
                        <span class="label label-info">Cotton</span>
                        <span class="label label-info">Nylon</span>
                    </div>
                </div>      
                <div class="control-group new-property">
                    <div class="span2">
                      <select id="select01" class="swaptoinput span2">
                          <option>Title</option>
                          <option>Size</option>
                          <option disabled>--------</option>
                          <option class="new">{% trans 'Custom' %}</option>
                       </select>
                       <div class="new-input">
                           <input type="text" class="span2" id="input01" placeholder="{% trans 'Custom' %}">
                       </div>
                    </div>
                    <div class="span4">
                           <input type="text" class="span2" id="input01" placeholder="{% trans 'Default' %}">
                    </div>
                </div>  


                <div class="control-group">
                    <div class="span2">
                        <a class='btn btn-small pull-right add-new-property' href="#"><i class="icon-plus"></i> {% trans 'Add property' %}</a>
                    </div>
                </div>
            </fieldset>       
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >{% trans 'Cancel' %}</a>
        <a href="#" class="btn btn-primary btn-warning">{% trans 'Save changes' %}</a>
    </div>
</div>