{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}
<div id="editVariationModal" class="modal hide fade">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3 id="title-action" data-bind="text: formTitle"></h3>
<div id="form-variant-message" data-bind="html: formSubmitMessage"></div>
</div>
<div class="modal-body">
    <form id="form-variant-props" class="form-horizontal">{% csrf_token %}
        <fieldset>
        <!-- basic properties - thanks shopify  -->
        <div data-bind="foreach: selectedVariant().basic_props" class="control-group">
            <label class="control-label" for="input01" data-bind="text: name"></label>
            <div class="controls">
                <input type="text" data-bind="attr: {'name': field_name, 'value': value}" id="">
            </div>
        </div>
        <!-- properties+ - thanks cartvine -->
        <div data-bind="foreach: extraProductOptions" class="control-group">
            <label class="control-label" for="input01" data-bind="text: name"></label>
            <div class="controls">
                <input type="text" name="extra_props" id="" data-bind="value: value">
            </div>
        </div>
        <!--End custom variation variables-->
        <hr/>
        <div>
            <div class="span2">
                <label>{% trans 'Selling Price' %}</label>
                <div class="input-append">
                    <input type="text" name="price" id="" class="span1" data-bind="value: selectedVariant().cost"/><span class="add-on" data-bind="html: currencySymbol"></span>
                </div>
            </div>
            <div class="span2">
                <label>{% trans 'Compare at price' %}</label>
                <div class="input-append">
                    <input type="text" name="compare_at_price" id="" class="span1" data-bind="value: selectedVariant().compare_at_price"/><span class="add-on" data-bind="html: currencySymbol"></span>
                </div>
            </div>  
            <div class="span2">
                <label>{% trans 'SKU' %}</label>
                <input type="text" name="sku" id="" class="span2" data-bind="value: selectedVariant().sku"/>
            </div>
        </div>
        <div class="span2">
            <br />
            <label>{% trans 'Weight' %}</label>
            <div class="input-append">
                <input type="text" name="grams" id="" class="span1" data-bind="value: selectedVariant().weight"/><span class="add-on">{% trans 'KG' %}</span>
            </div>
        </div>
        <div class="span4">
            <br />
            <label>
                <input type="checkbox" name="taxable" id="" data-bind="checked: selectedVariant().taxable"/>
                {% trans 'Charge taxes' %}
            </label>
            <label>
                <input type="checkbox" name="requires_shipping" id="" data-bind="checked: selectedVariant().requires_shipping"/>
                {% trans 'Require shipping address' %}
            </label>
            <label>
                <input type="checkbox" name="inventory_policy" id="" data-bind="checked: selectedVariant().inventory_management"/>
                {% trans 'Track stock levels' %}
            </label>
        </div>
        <!--Start standard variation variables-->
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" >{% trans 'Close' %}</a>
    <a href="#" data-bind="data_variant_pk: selectedVariant().pk" id="submit-variant-props" class="btn btn-warning">{% trans 'Save changes' %}</a>
</div>
</div>
