{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}
<div id="editVariationModal" class="modal hide fade">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3 id="title-action" data-bind="text: formTitle"></h3>
<div id="form-variant-message" data-bind="html: formSubmitMessage"></div>
</div>
<div class="modal-body">
    <form id="form-variant-props" class="form-horizontal">{% csrf_token %}
        <fieldset>
        <!-- basic properties - thanks shopify  -->
        <div data-bind="foreach: selectedVariant().basic_props" class="control-group">
            <label class="control-label" for="input01" data-bind="text: name"></label>
            <div class="controls">
                <input type="text" data-bind="attr: {'name': field_name, 'value': value}" id="">
            </div>
        </div>
        <!-- properties+ - thanks cartvine -->
        <div data-bind="foreach: extraProductOptions" class="control-group">
            <label class="control-label" for="input01" data-bind="text: name"></label>
            <div class="controls">
                <input type="text" name="extra_props" id="" data-bind="value: value">
            </div>
        </div>
        <!--End custom variation variables-->
        <hr/>
        <div>
            <div class="span2">
                <label>{% trans 'Selling Price' %}</label>
                <div class="input-append">
                    <input type="text" name="price" id="" class="span1" data-bind="value: selectedVariant().cost"/><span class="add-on" data-bind="html: currencySymbol"></span>
                </div>
            </div>
            <div class="span2">
                <label>{% trans 'Compare at price' %}</label>
                <div class="input-append">
                    <input type="text" name="compare_at_price" id="" class="span1" data-bind="value: selectedVariant().compare_at_price"/><span class="add-on" data-bind="html: currencySymbol"></span>
                </div>
            </div>  
            <div class="span2">
                <label>{% trans 'SKU' %}</label>
                <input type="text" name="sku" id="" class="span2" data-bind="value: selectedVariant().sku"/>
            </div>
        </div>
        <div class="span2">
            <br />
            <label>{% trans 'Weight' %}</label>
            <div class="input-append">
                <input type="text" name="grams" id="" class="span1" data-bind="value: selectedVariant().weight"/><span class="add-on">{% trans 'KG' %}</span>
            </div>
        </div>
        <div class="span4">
            <br />
            <label>
                <input type="checkbox" name="taxable" id="" data-bind="checked: selectedVariant().taxable"/>
                {% trans 'Charge taxes' %}
            </label>
            <label>
                <input type="checkbox" name="requires_shipping" id="" data-bind="checked: selectedVariant().requires_shipping"/>
                {% trans 'Require shipping address' %}
            </label>
            <label>
                <input type="checkbox" name="inventory_policy" id="" data-bind="checked: selectedVariant().inventory_management"/>
                {% trans 'Track stock levels' %}
            </label>
        </div>
        <!--Start standard variation variables-->
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" >{% trans 'Close' %}</a>
    <a href="#" data-bind="data_variant_pk: selectedVariant().pk" id="submit-variant-props" class="btn btn-warning">{% trans 'Save changes' %}</a>
</div>
</div>

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}knockoutjs/js/knockout-2.1.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    function VariantsViewModel() {
        var self = this;

        self.blankVariant = new Variant(null,null,0,0,0,0,false,false,false,[]);
        self.currency = '{{ object.shop.currency_symbol|safe }}';
        self.selectedVariant = ko.observable(self.blankVariant);
        self.basicProductOptions = ko.observableArray([{% for o,v in object.get_data_options.iteritems %}new ProductOption('{{ o }}','{{ v.name }}','{{ v.value }}'),{% endfor %}]);
        self.extraProductOptions = ko.observableArray([]);
        self.currencySymbol = '{{ object.shop.currency_symbol|safe }}';

        self.formTitle = ko.observable('');
        self.formSubmitMessage = ko.observable('');

        var variant_list = eval($('script#data-variant_list').html());
        self.variantsList = ko.observableArray([]);

        for (var i = 0; i < variant_list.length; i++) {
            v = variant_list[i];
            variant = new Variant(v.pk,v.provider_id,v.cost,v.sku,v.compare_at_price,v.weight,v.taxable,v.requires_shipping,v.inventory_management,v.basic_product_options);
            self.variantsList.push(variant);
        }

        //self.formProductPropsPostUrl = ko.observable('');
        self.formVariantPropsPostUrl = ko.observable('');

        self.appendToVariantList = function(variant) {
            var found = false;
            for (var i=0; i < self.variantsList().length; i++) {
                if (self.variantsList()[i].pk == variant.pk) {
                    found = true;
                    break;
                }
            }
            if (found == false) {
                self.variantsList.push(variant);
                //self.setSelectedVariant(variant.pk);
            }
        }

        self.setSelectedVariant = function(variant_pk) {
            for (var i=0; i < self.variantsList().length; i++) {
                if (self.variantsList()[i].pk == variant_pk) {
                    return self.updateSelectedVariant(self.variantsList()[i])
                    break;
                }
            }
            return self.updateSelectedVariant(self.blankVariant)
        }

        self.updateSelectedVariant = function(variant) {
            self.formSubmitMessage('');
            self.selectedVariant(variant);
            self.selectedVariant().setVariantBasicProperties();
            self.updateVariantPropsPostUrl();

            return self.selectedVariant
        }

        self.updateVariantPropsPostUrl = function() {
            var url = "{% url 'product:variant' slug=object.slug variant_pk=999 %}";

            if (self.selectedVariant().pk !== null) {
                self.formTitle('{% trans "Edit a Variant" %}');
                url = url.replace('999', self.selectedVariant().pk) + '?provider_id=' + self.selectedVariant().provider_id;
            }else{
                self.formTitle('{% trans "Add a Variant" %}');
                url = "{% url 'product:add_variant' slug=object.slug %}";
            }
            self.formVariantPropsPostUrl(url);
            return self.formVariantPropsPostUrl;
        }

    };

    function Variant(pk,provider_id,cost,sku,compare_at_price,weight,taxable,requires_shipping,inventory_management,basic_product_options) {
        var self = this;
        self.pk = pk;
        self.provider_id = provider_id;
        self.cost = cost;
        self.sku = sku;
        self.compare_at_price = compare_at_price;
        self.weight = weight;
        self.taxable = taxable;
        self.requires_shipping = requires_shipping;
        self.inventory_management = inventory_management;
        self.basic_product_options = basic_product_options;
        self.basic_props = ko.observableArray([]);

        self.setVariantBasicProperties = function() {
            // reset
            self.basic_props([]);

            for (var i = 0; i < AppVariants.basicProductOptions().length; i++) {
                prop_type = AppVariants.basicProductOptions()[i].prop_type;

                field_name = AppVariants.basicProductOptions()[i].prop_type
                name = AppVariants.basicProductOptions()[i].internal_name;

                if (self.basic_product_options.length == 0) {
                    value = ' ';
                }else{
                    if (self.basic_product_options[prop_type].value != '') {
                        value = self.basic_product_options[prop_type].value;
                    }else{
                        value = ' ';
                    }
                }

                if (name != '' && name != 'None' && value != '' && value != 'None') {
                    self.basic_props.push({'field_name': field_name, 'name': name, 'value':  value})
                }
            }
        }
    }
    function ProductOption(prop_type,internal_name,name,value) {
        var self = this;
        self.prop_type = prop_type;
        self.internal_name = internal_name;
        self.name = name;
        self.value = value;
    }

    // ----- KO Instances -----
    AppVariants = new VariantsViewModel()
    // ----- KO Bindings -----
    ko.applyBindings(AppVariants, document.getElementById('editVariationModal'));

    $('#submit-variant-props').live('click', function(event) {
        event.preventDefault();

        $('#submit-variant-props').attr('disabled',true);

        $.ajax({
          type: 'POST',
          url: AppVariants.formVariantPropsPostUrl(),
          data: $('#form-variant-props').serialize(),
          dataType: 'json'
        })
        .success(function(data, textStatus, jqXHR) { 

            response = eval(data);
            AppVariants.formSubmitMessage(response.message);

            v = response.object;
            v.basic_product_options = [v.option1,v.option2,v.option3];//@TODO fix this for js add
            variant = new Variant(v.pk,v.provider_id,v.price,v.sku,v.compare_at_price,v.grams,v.taxable,v.requires_shipping,v.inventory_policy,v.basic_product_options);
            AppVariants.appendToVariantList(variant);

            if (response.status == 'success') {
                status_class = 'btn-success';
            }else{
                status_class = 'btn-warning';
            }
            $('div#form-variant-message').hide().fadeIn('fast').removeClass().addClass(status_class).addClass('messages')

            setTimeout(function () {
                $('#editVariationModal').modal('hide');
                $('#submit-variant-props').attr('disabled',false);
            }, 1500);

        })
        .error(function() { 
            AppVariants.formSubmitMessage('Sorry, something bad happened!');
            $('div#form-variant-message').hide().fadeIn('slow').removeClass().addClass('btn-danger').addClass('messages')
        })
        .complete(function() {});
    });
    
    $('a.btn-modal-form').live('click', function(event) {
        event.preventDefault();
        var variant_pk = $(this).attr('data-variant_pk');
        if (variant_pk != undefined && variant_pk != 'add') {
            AppVariants.setSelectedVariant(variant_pk);
        }else{
            AppVariants.updateSelectedVariant(AppVariants.blankVariant);
        }
    });

});
</script>
{% endblock %}
