{% extends 'product_review/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Reviews for Products from your Shop{% endblock %}

{% block content-head %}
<h1>Reviews for Products from your Shop</h1>
{% endblock %}

{% block pre-body %}
<div class="hero-unit">
    This page is for a list of reviews of your products
</div>
{% endblock %}

{% block body %}
<ul id="" class="">
{% for r in object_list %}
    <li><a href="{% url 'review:by_shop' slug=r.slug %}">{{ r.name }}</a></li>
{% empty%}
    <li>{% trans 'No Product Reviews found.' %}</li>
{% endfor %}
</ul>
{% endblock %}
