{% extends 'default/base.html' %}
{% load i18n %}

{% block title %}{{ super }} - Login and Shop Happy{% endblock %}

{% block content-head %}
{% if not current_shop %}
<h1>Login and Shop Happy</h1>
{% else %}
<h1>Welcome to Shop Happy</h1>
{% endif %}
{% endblock %}

{% block body %}
{% if not current_shop %}
    <form action="{% url default:index %}" method="GET" class="form-horizontal">
        {{ form.shop.errors }}
        <label for="id_shop">{{ form.shop.label }}</label>
        {{ form.shop }}<span class="input-append">.shopify.com</span>
        <div class="help_text">{{ form.shop.help_text }}</div>

        <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans 'Login' %}</button>
        </div>
    </form>
{% else %}
    <h3>You have successfully installed the Shop Happy App</h3>
    <p>Now you can:</p>
    <ul>
        <li><i class="icon-ok-circle"></i><a href="{% url my_app:settings %}">Setup your app settings</a></li>
        <li><i class="icon-asterisk"></i><a href="{% url my_app:design %}">Setup your product review page</a></li>
    </ul>
    <ul>
        <li><i class="icon-ok-circle"></i><a href="{% url my_app:settings %}">View reviews of your Products</a></li>
        <li><i class="icon-ok-circle"></i><a href="{% url my_app:settings %}">View Reviewers</a></li>
        <li><i class="icon-ok-circle"></i><a href="{% url my_app:settings %}">View pending invitation messages</a></li>
    </ul>
{% endif %}
{% endblock %}
