{% extends 'widget/widget_edit.html' %}
{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}

{% block title %}{% trans 'Product Detail' %} - {{ object.name }}{% endblock %}

{% block pre-body %}
    <span class="pull-right"><a href="{{ object.shop.url }}{{ object.shopify_url }}" class="btn">{% trans 'View in Shopify' %}</a></span>
    <h2>{{ object.name }}</h2>
{% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="span9">
            <div id="ProductProperties" class="widget widget-table" data-bind="with: ProductView">
                <div class="widget-header">
                    <span class="icon-list-alt"></span>
                    <h3>{% trans 'Product Properties' %}</h3>
                </div>                  
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>                                
                                <th class="span3">{% trans 'Property name' %}</th>
                                <th>{% trans 'Value' %}</th>                                
                            </tr>
                        </thead>
                        <tbody class="baseProperties">
                            <tr>
                                <td class="name" data-property_type="base">{% trans 'Product' %}</td>
                                <td class="value" data-option_id="name"><span>{{ object.name }}</span></td>
                            </tr>
                            <tr>
                                <td class="name" data-property_type="base">{% trans 'Product type' %}</td>
                                <td class="value" data-option_id="product_type"><span>{{ object.product_type }}</span></td>
                            </tr>
                            <tr>
                                <td class="name" data-property_type="base">{% trans 'Product vendor' %}</td>
                                <td class="value" data-option_id="vendor"><span>{{ object.data.vendor }}</span></td>
                            </tr>
                        </tbody>
                        <tbody class="basicProperties" data-bind="foreach: basicProperties">
                            <tr data-bind="event: {mouseover: $parent.showControls, mouseout: $parent.hideControls}">
                                <td class="name" data-property_type="basic"  data-bind="attr: {'data-option_id': internal_name}">
                                    <span class="value" data-bind="html: value"></span>
                                    <div class="pull-right" data-bind="style: { color: App.getColorForOption(internal_name) }"><span class="tiny" data-bind="html: name"></span></div>
                                </td>
                                <td class="value" data-option_id="{{ property.option_id }}">&nbsp;</td>
                            </tr>
                        </tbody>
                        <tbody class="plusProperties" data-bind="foreach: plusProperties">
                            <tr>
                                <td class="name" data-property_type="plus"  data-bind="attr: {'data-option_id': internal_name}">
                                    <span class="value" data-bind="html: value"></span>
                                    <div class="pull-right" data-bind="style: { color: App.getColorForOption(name) }"><span class="tiny" data-bind="html: name"></span></div>
                                </td>
                                <td class="value" data-option_id="{{ property.option_id }}">&nbsp;</td>
                            </tr>
                        </tbody>
                        <tbody id="addPropertyInterface" class="addProperties" data-bind="visible: showAddForm()">
                            <tr>
                                <td colspan="2" class="name modal-footer">
                                    <div class="form-message" data-bind="html: formSubmitMessage"></div>
                                    <form id="addPlusProperty" class="" action="{% url 'product:plus_properties' slug=object.slug %}" method="POST">{% csrf_token %}
                                        <input type="hidden" name="option_id" value=""/>
                                        <label>{% trans 'New Property' %}</label>
                                        <input type="text" name="value" value=""/>
                                        <div class="pull-right">
                                            <button type="add" id="saveNewProperty" href="#" class="submit-btn btn btn-small btn-success"><i class="icon-ok"></i>&nbsp;{% trans 'Save' %}</button>
                                            <a onclick="App.ProductView.hideAddForm();" href="" class="delete btn btn-small btn"><i class="icon-remove"></i></a>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-condensed" data-bind="visible: showAddPropButton()">
                    <tr>
                        <td class="span12">
                            <div class="pull-right">
                            <button type="add" id="addProperty" href="#" class="btn btn-small btn-success"><i class="icon-plus"></i>&nbsp;{% trans 'Add Property' %}</button>
                            </div>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="span3">
            <!-- Product image, taken out for the moment, not critical. 
            <div class="widget">
                                {% if object.featured_image_src %}
                                    <img id="feature-image" src="{{ object.featured_image_src|image_resize:"medium" }}" border="0"/>
                                {% else %}
                                    <img src="http://placehold.it/300x150&text=No Product Thumb">
                                {% endif %}
                                {% for i in object.get_images_src %}
                                    <img class="product image" src="{{ i|image_resize:"medium" }}" border="0"/>
                                {% endfor %}
                                
            </div> -->
            <!--Product description block-->
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-pushpin"></i>
                    <h3>{% trans 'Product Description' %}</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    {{ object.summary|safe|truncatewords:30 }}
                </div>
            </div>
            <!--Product tags block-->
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-pushpin"></i>
                    <h3>{% trans 'Product Tags' %} </h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    {{ object.data.tags }}
                </div>
            </div>
        </div>
        <div class="span12">

                <div class="widget-header">
                    <span class="icon-barcode"></span>
                    <h3>{% trans 'Product Inventory' %}</h3>
                </div>
                <div class="widget-content">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th class="cen span1"><input type="checkbox" id="toggle-all-variants"></th>
								<th>SKU</th>
								<th>Price</th>
								<th>In Stock</th>
                                {% for option_id,option in object.basic_properties %}
								<th>{{ option }}</th>
								{% endfor %}
								<th class="cen">(<i data-bind="text: App.VariantView.variantsList().length"></i> {% trans 'items' %})</th>
							</tr>
						</thead>
						<tbody>
						    {% for variant in variants %}
						    <tr>
                                <td class="cen"><input type="checkbox" class="option-variant" value=""/></td>
                                <td class="value">{{variant.sku}}</td>
                                <td class="value"><span data-bind="html: App.VariantView.currencySymbol"></span>{{variant.cost}}</td>
                                <td class="value">{{variant.inventory_quantity}}</td>
                                {% for option in variant.all_properties|slice:"3" %}
                                <td class="value">{{ option.value }}</td>
                                {% endfor %}
                                <td class="value cen">
                                    <div class="property-controls controls">
                                        <a data-toggle="modal" data-option_id="" data-property_type="variant" data-variant_pk="{{ variant.pk }}" href="#editVariationModal" class="edit btn-modal-form"><i class="icon-pencil"></i></a>
                                        <a href="" data-option_id="" data-property_type="variant" data-variant_pk="{{ variant.pk }}" class="delete"><i class="icon-remove"></i></a>
                                        <a href="#" class="btn btn-mini disabled pull-right"><i class="icon-resize-vertical"></i></a>
                                    </div>
                                </td>
						    </tr>
						    {% endfor %}
						</tbody>
					</table>
                    <table class="table table-condensed">
                    <tr>
                        <td class="span10">
                            <select name="variant-select-options" id="variant-select-options">
                                <option value="null"></option>
                                <optgroup label="Shopify Functions">
                                    <option value="sync-variants">{% trans 'Sync Selected with Shopify' %}</option>
                                </optgroup>
                                <optgroup label="Danger Zone">
                                    <option value="delete-variants">{% trans 'Delete Selected' %}</option>
                                </optgroup>
                            </select>
                        </td>
                        <td class="span2">
                            <div class="pull-right">
                                <a data-toggle="modal" data-variant_pk="add" href="#editVariationModal" class="btn-modal-form btn btn-small btn-success"><i class="icon-plus"></i>&nbsp;{% trans 'Add Variation' %}</a>
                            </div>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'product/forms/variant_props.html' %}


{% block css %}
<style>
div.controls{
}
div.controls a.edit, div.controls a.delete{
    margin:0px 5px;
}
div.controls a.edit:hover, div.controls a.delete:hover{
color: #da4f49;
*color: #bd362f;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
</style>
{% endblock %}

{% handlebars_js %}
{% tplhandlebars "base-property-form" %}
<td id="edit-properties-form" class="name">
    <label>{{label}}</label>
</td>
<td class="form">
    <div class="form-message" data-bind="html: App.ProductView.formSubmitMessage"></div>
    <form id="editBaseProperty" class="property-form" action="{{form_url}}" method="POST">{% csrf_token %}
        <input type="hidden" name="property_type" value="{{property_type}}"/>
        <input type="hidden" name="name" value="{{option_id}}"/>
        <label>&nbsp;</label>
        <input type="text" name="value" value="{{value}}"/>
        <div class="modal-footer pull-right">
            <button type="add" id="" href="#" class="submit-btn btn btn-small btn-success"><i class="icon-ok"></i>&nbsp;{% trans 'Save' %}</button>
            <a href="#" onclick="App.resetPreviousEditTr();" class="delete"><i class="icon-remove"></i></a>
        </div>
    </form>
</td>
{% endtplhandlebars %}

{% tplhandlebars "basic-property-form" %}
<td id="edit-properties-form" colspan="2" class="form name">
    <div class="form-message" data-bind="html: App.ProductView.formSubmitMessage"></div>
    <form id="editBasicProperty" class="property-form" action="{{form_url}}" method="POST">{% csrf_token %}
        <input type="hidden" name="property_type" value="{{property_type}}"/>
        <input type="hidden" name="option_id" value="{{option_id}}"/>
        <label>{{label}}</label>
        <input type="text" data-bind="" name="value" value="{{value}}"/>
        <div class="modal-footer pull-right">
            <button type="add" id="" href="#" class="submit-btn btn btn-small btn-success"><i class="icon-ok"></i>&nbsp;{% trans 'Save' %}</button>
            <a href="#" onclick="App.resetPreviousEditTr();" class="delete"><i class="icon-remove"></i></a>
        </div>
    </form>
</td>
{% endtplhandlebars %}

{% tplhandlebars "plus-property-form" %}
<td id="edit-properties-form" colspan="2" class="form name">
    <div class="form-message" data-bind="html: App.ProductView.formSubmitMessage"></div>
    <form id="editPlusProperty" class="property-form" action="{{form_url}}" method="POST">{% csrf_token %}
        <input type="hidden" name="property_type" value="{{property_type}}"/>
        <input type="hidden" name="option_id" value="{{option_id}}"/>
        <label>{{label}}</label>
        <input type="text" data-bind="" name="value" value="{{value}}"/>
        <div class="modal-footer pull-right">
            <button type="add" id="" href="#" class="submit-btn btn btn-small btn-success"><i class="icon-ok"></i>&nbsp;{% trans 'Save' %}</button>
            <a href="#" onclick="App.resetPreviousEditTr();" class="delete"><i class="icon-remove"></i></a>
        </div>
    </form>
</td>
{% endtplhandlebars %}

{% tplhandlebars "edit-helper" %}
<div class="property-controls controls pull-right">
    <a href="" data-option_id="{{option_id}}" data-property_type="{{property_type}}" class="edit"><i class="icon-pencil"></i></a>
    {{#if is_plus}}
    <a href="" data-option_id="{{option_id}}" data-property_type="{{property_type}}" class="delete"><i class="icon-remove"></i></a>
    {{/if}}
</div>
{% endtplhandlebars %}

<script type="text/javascript" id="data-variant_list">
[{% for v in variants %}
{ 'pk': '{{ v.pk }}', 'provider_id':'{{ v.provider_id }}', 'cost': '{{ v.cost }}', 'sku': '{{ v.sku|default:"" }}', 'compare_at_price':'{{ v.data.compare_at_price }}', 'weight':'{{ v.weight_as_kg }}', 'taxable':{{ v.data.taxable|lower }}, 'requires_shipping':{{ v.data.requires_shipping|lower }}, 'inventory_management':'{{ v.data.inventory_management }}', 'inventory_quantity': '{{ v.inventory_quantity }}', 'all_properties': { {% for o in v.all_properties %}'{{ o.option_id }}': {'name':'{{ o.name }}', 'value':'{{ o.value }}'},{% endfor %} } }{% if not forloop.last %}, {% endif %}
{% endfor %}]
</script>

<script type="text/javascript" src="{{ STATIC_URL }}knockoutjs/js/knockout-2.1.0.js"></script>
<script type="text/javascript">
$(document).ready(function(){

    function ProductViewModel() {
        var self = this;

        self.formSubmitMessage = ko.observable('');
        self.formPostUrl = ko.observable("{% url 'product:plus_properties' slug=object.slug %}");

        self.theFormName = ko.observable('form#addPlusProperty');
        self.showAddForm = ko.observable(false);
        self.selectedProperty = ko.observable();
        self.basicProperties = ko.observableArray([{% for o,v in object.basic_properties %}new ProductOption('basic', '{{ o }}','{{ o }}','{{ v }}'),{% endfor %}]);
        self.plusProperties = ko.observableArray([{% for o,v in object.plus_properties %}new ProductOption('plus','{{ o }}','{{ o }}','{{ v }}'),{% endfor %}]);

        /**
        * method to process the form postback
        */
        self.processFormResponseObject = function(response) {
            console.log('yay in processFormResponseObject')
        }

        self.showAddPropButton = function() {
            return (self.showAddForm() === true) ? false : true ;
        }

        self.hideAddForm = function() {
            self.showAddForm(false);
            self.formSubmitMessage('');
        }
    }

    function VariantViewModel() {
        var self = this;

        self.blankVariant = new Variant(null,null,0,null,0,0,false,false,false,0,[]);
        self.selectedVariant = ko.observable(self.blankVariant);
        self.basicProductOptions = ko.observableArray([{% for o,v in object.basic_properties %}new ProductOption('basic','{{ o }}','{{ o }}','{{ v }}'),{% endfor %}]);
        self.extraProductOptions = ko.observableArray([{% for o,v in object.plus_properties %}new ProductOption('plus','{{ o }}','{{ o }}','{{ v }}'),{% endfor %}]);

        self.theFormName = ko.observable('#form-variant-props');
        self.formTitle = ko.observable('');
        self.formSubmitMessage = ko.observable('');
        self.formPostUrl = ko.observable('');

        self.variantsList = ko.observableArray([]);
        var variant_list = eval($('script#data-variant_list').html());

        for (var i = 0; i < variant_list.length; i++) {
            v = variant_list[i];
            self.variantsList.push(new Variant(v.pk,v.provider_id,v.cost,v.sku,v.compare_at_price,v.weight,v.taxable,v.requires_shipping,v.inventory_management,v.inventory_quantity,v.all_properties));
        }

        self.updateVariantList = function(variant) {
            var is_present = false;
            if (variant.pk != undefined) {
                for (var i=0; i < self.variantsList().length; i++) {
                    if (self.variantsList()[i].pk == variant.pk) {
                        // update the variant
                        self.variantsList()[i] = variant;
                        is_present = true;
                        break;
                    }
                }
                if (is_present == false) {
                    // is a new variant so push it in
                    self.variantsList.push(variant);
                    self.setSelectedVariant(variant.pk);
                }
            }
        }

        self.setSelectedVariant = function(variant_pk) {
            for (var i=0; i < self.variantsList().length; i++) {
                if (self.variantsList()[i].pk == variant_pk) {
                    return self.updateSelectedVariant(self.variantsList()[i])
                    break;
                }
            }
            return self.updateSelectedVariant(self.blankVariant)
        }

        self.updateSelectedVariant = function(variant) {
            self.formSubmitMessage('');
            self.selectedVariant(variant);
            self.updateVariantPropsPostUrl();

            return self.selectedVariant
        }

        self.updateVariantPropsPostUrl = function() {
            var url = "{% url 'product:variant' slug=object.slug variant_pk=0 %}";

            if (self.selectedVariant().pk !== null) {
                self.formTitle('{% trans "Edit a Variant" %}');
                url = url.replace('0', self.selectedVariant().pk) + '?provider_id=' + self.selectedVariant().provider_id;
            }else{
                self.formTitle('{% trans "Add a Variant" %}');
                url = "{% url 'product:add_variant' slug=object.slug %}";
            }
            self.formPostUrl(url);
            return self.formPostUrl;
        }

        /**
        * method to process the form postback
        */
        self.processFormResponseObject = function(response) {
            if (response.object != null) {
                v = response.object;
                self.updateVariantList(new Variant(v.pk,v.provider_id,v.price,v.sku,v.compare_at_price,v.grams,v.taxable,v.requires_shipping,v.inventory_policy,v.inventory_quantity,v.all_properties));
            }
        }
    };

    function Variant(pk,provider_id,cost,sku,compare_at_price,weight,taxable,requires_shipping,inventory_management,inventory_quantity,all_properties) {
        var self = this;
        self.pk = pk;
        self.provider_id = provider_id;
        self.cost = cost;
        self.sku = sku;
        self.compare_at_price = compare_at_price;
        self.weight = weight;
        self.taxable = taxable;
        self.requires_shipping = requires_shipping;
        self.inventory_management = inventory_management;
        self.inventory_quantity = inventory_quantity;
        self.all_properties = ko.observable(all_properties);

        self.init = function () {
        }

        self.get_value_for = function (type,option_id) {
            var requested_option_id = option_id;
            var return_value = null;

            $.each(self.all_properties(), function(option_id, object) {
                if (option_id == requested_option_id) {
                console.log(option_id+'  ==  '+requested_option_id + ' : '+ object.value)
                    return_value = object.value;
                }
            });

            return return_value;
        }

        self.init();
    }

    function ProductOption(prop_type,internal_name,name,value) {
        var self = this;
        self.prop_type = prop_type;
        self.internal_name = internal_name;
        self.name = name;
        self.value = value;
console.log(prop_type)
    }

    /**
    * Primary view acts as a holder for the other views
    */
    function PageMasterViewModel() {
        var self = this;
        self.ProductView = new ProductViewModel();
        self.VariantView = new VariantViewModel();

        self.currencySymbol = '{{ object.shop.currency_symbol|safe }}';

        self.currentPropertyTrHtml = null;

        self.basicColors = [{% for c in object.OPTION_COLORS.get_values %}'{{ c }}',{% endfor %}];
        self.optionColors = { {% for o,c in object.property_colors.iteritems %}"{{ o }}":"{{ c }}",{% endfor %} };

        self.getColorForOption = function(option_id) {
            basic = ['option1', 'option2', 'option3'];
            basic_index = basic.indexOf(option_id);
console.log(option_id)
            if ( basic_index >= 0 ) {
                return self.basicColors[basic_index];
            }else{
                return self.optionColors[option_id];
            }
        }

        self.resetPreviousEditTr = function() {
            if ($('td#edit-properties-form').length > 0) {
                $('td#edit-properties-form').closest('tr').html(App.currentPropertyTrHtml);
            }
        }

        self.resetProductFormTr = function() {
            self.ProductView.hideAddForm(false);
        }

        self.productPropertyForm = function(is_new, property_type, name, value, option_id) {
            var context = {
                option_id: option_id,
                label: (is_new == true) ? "{% trans 'New Property' %}" : "&nbsp;",
                property_type: $.trim(property_type),
                form_url: self.ProductView.formPostUrl(),
                value: $.trim(value),
            };
            // is a base property, one whose name cannot be changed but value cant
            if (property_type == 'base') {
                var source   = $("script#base-property-form").html();
                context.label = name;// set the label to the current name
                context.property_type = {{ object.PROPERTY_TYPE.base }};
                App.ProductView.formPostUrl('{% url 'product:base_properties' slug=object.slug %}');
            }else if (property_type == 'basic') {
                var source   = $("script#basic-property-form").html();
                context.property_type = {{ object.PROPERTY_TYPE.basic }};
                App.ProductView.formPostUrl('{% url 'product:basic_properties' slug=object.slug %}');
            }else{
                var source   = $("script#plus-property-form").html();
                context.property_type = {{ object.PROPERTY_TYPE.plus }};
                App.ProductView.formPostUrl('{% url 'product:plus_properties' slug=object.slug %}');
            }
            var template = Handlebars.compile(source);
            return template(context);
        }

        self.propertyControls = function(element, option_id, type) {
            var source   = $("script#edit-helper").html();
            var template = Handlebars.compile(source);

            var is_plus = (type == 'plus')? true : false ;
            return template({is_plus: is_plus, property_type: $.trim(type), option_id: option_id});
        }

        self.submitModalWindow = function(KOView, successProcessCallback, baseElement) {
            // hide sumit button so suer cant double click
            footer = baseElement.find('div.modal-footer:last');
            submit_button = baseElement.find('.submit-btn');
            form_message = baseElement.find('div.form-message:first');

            submit_button.css('visibility','hidden');
            submit_button.attr('disabled',true);

            $.ajax({
              type: 'POST',
              url: KOView.formPostUrl(),
              data: $(KOView.theFormName()).serialize(),
              dataType: 'json'
            })
            .success(function(data, textStatus, jqXHR) { 
                // make the JSON response usable
                response = eval(data);

                form_message.hide().removeClass('btn-success,btn-warning');

                if (response.status == 'success') {
                    status_class = 'btn-success';
                    // successful post now update the variants list
                    successProcessCallback(response);
                }else if (response.status == 'warning') {
                    status_class = 'btn-warning';
                }else{
                    status_class = 'btn-danger';
                }

                // Set the form Message
                KOView.formSubmitMessage(response.message);
                form_message.html(response.message)

                form_message.fadeIn('fast').addClass(status_class).addClass('messages')

                if (response.status == 'success') {
                    setTimeout(function () {
                        $('#editVariationModal').modal('hide');
                    }, 1500);
                    // @TEMPORARY @TODO remove this and update inline
//                    document.location.reload();
                }
                submit_button.css('visibility','visible');
                submit_button.attr('disabled',false);
            })
            .error(function() { 
                KOView.formSubmitMessage('Sorry, something bad happened!');
                form_message.hide().fadeIn('slow').removeClass('btn-success,btn-warning').addClass('btn-danger').addClass('messages')
                submit_button.css('visibility','visible');
                submit_button.attr('disabled',false);
            })
            .complete(function() {});
        }
    }
    // ----- KO Instance -----
    App = new PageMasterViewModel()
    // ----- KO Bindings -----
    ko.applyBindings(App);



    // Product Property helpers
    $('div#ProductProperties button#addProperty').live('click', function(event) {
        event.preventDefault();
        // restore the previous tr html
        App.resetPreviousEditTr();
        App.ProductView.showAddForm(true);
    });

    $('div#ProductProperties button#saveNewProperty').live('click', function(event) {
        event.preventDefault();
        App.ProductView.formPostUrl("{% url 'product:plus_properties' slug=object.slug %}");
        App.submitModalWindow(App.ProductView, App.ProductView.processFormResponseObject, $('#addPropertyInterface'));
    });

    $('form.property-form button.submit-btn').live('click', function(event) {
        event.preventDefault();
        var formName = 'form#' + $(this).closest('form').attr('id');
        App.ProductView.theFormName(formName);
        App.submitModalWindow(App.ProductView, App.ProductView.processFormResponseObject, $(this).closest('td.form'));
    });

    $('div#ProductProperties tbody.baseProperties tr, div#ProductProperties tbody.basicProperties tr, div#ProductProperties tbody.plusProperties tr').live('mouseenter mouseleave', function(event) {
        event.preventDefault();
        // only if there is no edit form there and the edit control is not already there
        var target = $(this).find('td:last');
        if ($(this).find('td form').length == 0 && $(this).find('div.property-controls').length == 0) {

            var option_id = target.attr('data-option_id')
            var property_type = $(this).find('td:first').attr('data-property_type');
            var controls = App.propertyControls($(this), option_id, property_type);

            if (event.type == 'mouseleave') {
                target.find('div.controls').remove();
            }else{
                target.append(controls);
            }
        }else{
            target.find('div.controls').remove();
        }
    });

    $('div.property-controls a.delete').live('click', function(event) {
        event.preventDefault();
        var element = $(this);
        var option_id = $(this).attr('data-option_id');
        var property_type = $(this).attr('data-property_type');

        if (property_type == 'variant') {
            var variant_pk = $(this).attr('data-variant_pk');
            var url = '{% url "product:delete_variant" pk=0 %}';
            url = url.replace('0', variant_pk);
        }
        if (url != 'undefined') {
            $.ajax({
              type: 'DELETE',
              url: url
            })
            .success(function(data, textStatus, jqXHR) {
                element.closest('tr').remove();
            });
        }

    });

    $('div.property-controls a.edit').live('click', function(event) {
        event.preventDefault();
        var option_id = $(this).attr('data-option_id');
        var property_type = $(this).attr('data-property_type');

        if (property_type == 'variant') {
            // do not apply to variants
            return false;
        }

        var tr = $(this).closest('tr');

        if (tr.find('td.name span.value').text() != undefined) {
            // restore the previous tr html
            App.resetPreviousEditTr();
            App.resetProductFormTr();

            // set the current tr html to this ones html value
            tr.find('div.property-controls').remove();
            App.currentPropertyTrHtml = tr.html();

            if (property_type == 'base') {
                // take the name/value pair
                var name = tr.find('td.name').text();
                var value = tr.find('td.value').text();
            }else if (property_type == 'basic') {
                // set the value equal to the name as in basic properties this 
                // is the change case
                var name = tr.find('td.name').text();
                var value = tr.find('td.name span.value').text();
                var option_id = tr.find('td.name').attr('data-option_id');
            }else if (property_type == 'plus') {
                // set the value equal to the name as in basic properties this 
                // is the change case
                var name = tr.find('td.name').text();
                var value = tr.find('td.name span.value').text();
                var option_id = tr.find('td.name').attr('data-option_id');
                property_type = tr.find('td.name').attr('data-property_type');
            }
            var controls = App.productPropertyForm(false,property_type,name,value,option_id);
            // replace the current tr html with our control form
            tr.html(controls);
        }
    });

    // Variant Helpers
    $('#editVariationModal a.submit-btn:last').live('click', function(event) {
        event.preventDefault();
        App.submitModalWindow(App.VariantView, App.VariantView.processFormResponseObject, $(this).closest('form'));
    });

    $('a.btn-modal-form').live('click', function(event) {
        event.preventDefault();
        var variant_pk = $(this).attr('data-variant_pk');
        if (variant_pk != undefined && variant_pk != 'add') {
            App.VariantView.setSelectedVariant(variant_pk);
        }else{
            App.VariantView.updateSelectedVariant(App.VariantView.blankVariant);
        }
    });

    $('#toggle-all-variants').live('click', function(event) {
        if ($(this).attr('checked') == 'checked') {
            $('input[type="checkbox"].option-variant').attr('checked', 'checked')
        }else{
            $('input[type="checkbox"].option-variant').attr('checked', false)
        }
    });
    $('select#variant-select-options').live('change', function(event) {
        event.preventDefault();
        num_items_selected = $('input[type="checkbox"].option-variant:checked').length;
        if (num_items_selected > 0) {
            items_selected = $('input[type="checkbox"].option-variant:checked');
            console.log('Send '+ $(this).val() +' event to backend for ids: ' + items_selected);
        }
        $(this).prop('selectedIndex', 0);
    });

});
</script>
{% endblock %}

