{% extends 'widget/widget_edit.html' %}
{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}

{% block title %}{% trans 'Product Detail' %} - {{ object.name }}{% endblock %}

{% block pre-body %}
    <span class="pull-right"><a href="{{ object.shop.url }}{{ object.shopify_url }}" class="btn">{% trans 'View in Shopify' %}</a></span>
    <h2>{{ object.name }}</h2>
{% endblock %}

{% block body %}

    <div class="main">
        <div class="row">
            <div class="span9">
                <div class="widget widget-table">
                    <div class="widget-header">
                        <span class="icon-list-alt"></span>
                        <h3>{% trans 'Product Properties' %}</h3>
                        <button type="edit" class="btn btn-small btn-warning pull-right">{% trans 'Edit Properties' %}</button>
                    </div>                  
                    <div class="widget-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>                                
                                    <th class="span3">{% trans 'Property name' %}</th>
                                    <th>{% trans 'Value' %}</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="name">{% trans 'Product' %}</td>
                                    <td class="value"><span>{{ object.name }}</span></td>
                                </tr>
                                <tr>
                                    <td class="name">{% trans 'Product type' %}</td>
                                    <td class="value"><span>{{ object.product_type }}</span></td>
                                </tr>
                                <tr>
                                    <td class="name">{% trans 'Product vendor' %}</td>
                                    <td class="value"><span>{{ object.data.vendor }}</span></td>
                                </tr>
                                {% for property in object.data.options %}
                                <tr>
                                    <td class="name">{{ property.name }}</td>
                                    <td class="value"><span class="label label-info">Combined list</span> <span class="label label-info">of all variations</span> <span class="label label-info">of this type here</span></td>
                                </tr>
                                {% endfor %}
                                {% for property in object.properties_plus %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="span3">
                <!-- Product image, taken out for the moment, not critical. 
                <div class="widget">
                                    {% if object.featured_image_src %}
                                        <img id="feature-image" src="{{ object.featured_image_src|image_resize:"medium" }}" border="0"/>
                                    {% else %}
                                        <img src="http://placehold.it/300x150&text=No Product Thumb">
                                    {% endif %}
                                    {% for i in object.get_images_src %}
                                        <img class="product image" src="{{ i|image_resize:"medium" }}" border="0"/>
                                    {% endfor %}
                                    
                </div> -->
                <!--Product description block-->
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-pushpin"></i>
                        <h3>{% trans 'Product Description' %}</h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        {{ object.summary|safe|truncatewords:30 }}
                    </div>
                </div>
                <!--Product tags block-->
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-pushpin"></i>
                        <h3>{% trans 'Product Tags' %} </h3>
                    </div> <!-- /widget-header -->
                    <div class="widget-content">
                        {{ object.data.tags }}
                    </div>
                </div>
            </div>
            <div class="span12">
                <div class="widget widget-table">
                    <div class="widget-header">
                        <span class="icon-barcode"></span>
                        <h3>{% trans 'Product Inventory' %}</h3>
                    </div>
                    <div class="widget-content">
						<table class="table table-bordered table-striped table-condensed">
							<thead>
								<tr>
									<th class="cen span1"><input type="checkbox"/></th>
									<th>SKU</th>
									<th>Price</th>
									<th>In Stock</th>
									{% for option in object.data.options %}
									<th>{{ option.name }}</th>
									{% endfor %}
									<th></th>
								</tr>
							</thead>
							<tbody>
							    {% for variant in object.productvariant_set.all %}
							    <tr>
                                    <td class="cen"><input type="checkbox"/></td>
                                    <td class="value">{{variant.sku}}</td>
                                    <td class="value">{{variant.cost}}</td>
                                    <td class="value">{{variant.num_in_stock}}</td>
                                    {% for option in variant.basic_product_options %}
                                    <td class="value">{{ option }}</td>
                                    {% endfor %}
                                    <td class="value cen">
                                    <a data-toggle="modal" data-variant_pk="{{ variant.pk }}" href="#editVariationModal" class="btn-modal-form btn btn-mini btn-warning">{% trans 'Edit' %}</a>
                                    <a href="#" class="btn btn-mini disabled pull-right"><i class="icon-resize-vertical"></i></a>
                                    </td>
							    </tr>
							    {% endfor %}
								<tr>
									<td colspan="12"><a data-toggle="modal" href="#editVariationModal" class="btn-modal-form btn btn-small btn-success pull-right">{% trans 'Add Variation' %}</a></td>
								</tr>
							</tbody>
						</table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="editVariationModal" class="modal hide fade"></div>

<script id="data-variant_list">
[{% for v in object.productvariant_set.all %}
{ 'pk': '{{ v.pk }}', 'cost': '{{ v.cost }}', 'sku': '{{ v.sku }}', 'compare_at_price':'', 'weight':'', 'taxable':'', 'requires_shipping':'', 'inventory_management':'', 'basic_product_options': [{% for o in v.basic_product_options %}{'name':'{{ o }}'},{% endfor %}] }{% if not forloop.last %}, {% endif %}
{% endfor %}]
</script>

{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}emberjs/js/ember-complete.js"></script>
<script>
$(document).ready(function(){

    App = Em.Application.create();


    App.Variant = Em.Object.extend({
        pk: 0,
        cost: 0,
        sku: null,
        compare_at_price: 0,
        weight: 0,
        taxable: true,
        requires_shipping: false,
        inventory_management: false,
        basic_product_options: [],
    });

    variants = eval($('script#data-variant_list').html());

    App.variantsController = Em.ArrayController.create({
        selectedVariant: App.Variant.create({}),
        basicProductOptions: [{% for o in object.data.options %}{'name':'{{ o.name }}'},{% endfor %}],
        extraProductOptions: [],
        content: variants.map(function(v) {
            return App.Variant.create(v);
        }),
        setVariantFromPk: function(pk) {
            alert(pk)
        }
    });

    App.VariantFormView = Em.View.extend({
        templateName: 'hb-modify-variant',
    });
    App.VariantFormView.create({
        selectedVariant: void 0,
        basicProductOptionsBinding: 'App.variantsController.basicProductOptions',
        extraProductOptionsBinding: 'App.variantsController.extraProductOptions',

        updateSelectedVariant: function() {
            this.selectedVariant = App.variantsController.get('selectedVariant');
        }.observes('App.variantsController.selectedVariant.change')

    }).appendTo('#editVariationModal');

    $('a.btn-modal-form').live('click', function(event) {
        event.preventDefault();
        var variant_pk = $(this).attr('data-variant_pk');
        if (variant_pk != 'undefined') {
            var variants = App.variantsController.get('content');
            for (var i=0; i < variants.length; i++) {
                if (variants[i].get('pk') == variant_pk) {
                    App.variantsController.set('selectedVariant', variants[i]);
                    break;
                }
            }
            console.log(App.variantsController.get('selectedVariant').get('pk'))
        }
    });

});
</script>
{% endblock %}

{% block extrahead %}
{% spaceless %}

    {% tplhandlebars "hb-modify-variant" %}
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3 id="title-action"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<fieldset>
            {{#each basicProductOptions}}
            <div class="control-group">
                <label class="control-label" for="input01">{{name}}</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="input01">
                </div>
            </div>
            {{/each}}
            {{#each extraProductOptions}}
            <div class="control-group">
                <label class="control-label" for="input01">Title</label>
                <div class="controls">
                  <input type="text" class="input-xlarge" id="input01">
                </div>
            </div>
            {{/each}}
			<!--End custom variation variables-->
			<hr/>
			<div>
				<div class="span2">
				    <label>{% trans 'Selling Price' %}</label>
					<div class="input-append">
					    {{view Em.TextField class="span1" name="" valueBinding="selectedVariant.cost"}}<span class="add-on">CAD</span>
	              	</div>
				</div>
				<div class="span2">
				    <label>{% trans 'Compare at price' %}</label>
					<div class="input-append">
                        {{view Em.TextField class="span1" name="" valueBinding="selectedVariant.appendedInput"}}<span class="add-on">CAD</span>
	              	</div>
				</div>	
				<div class="span2">
				    <label>{% trans 'SKU' %}</label>
				     {{view Em.TextField class="span2" name="" placeholder="Stock keeping unit" valueBinding="selectedVariant.sku"}}
				</div>
			</div>
			<div class="span2">
				<br />
			    <label>{% trans 'Weight' %}</label>
				<div class="input-append">
                    {{view Em.TextField class="span1" name="" valueBinding="selectedVariant.weight"}}<span class="add-on">KG</span>
              	</div>
			</div>
			<div class="span4">
				<br />
			    <label>
                    {{view Em.Checkbox name="" valueBinding="selectedVariant.taxable"}}
					{% trans 'Charge taxes' %}
				</label>
			    <label>
			        {{view Em.Checkbox name="" valueBinding="selectedVariant.requires_shipping"}}
					{% trans 'Require shipping address' %}
				</label>
			    <label>
			        {{view Em.Checkbox name="" valueBinding="selectedVariant.inventory_management"}}
					{% trans 'Track stock levels' %}
				</label>
			</div>
			<!--Start standard variation variables-->
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" >{% trans 'Close' %}</a>
		<a href="#" class="btn btn-warning">{% trans 'Save changes' %}</a>
	</div>
    {% endtplhandlebars %}
{% endspaceless %}
{% endblock %}
