{% extends 'widget/widget_edit.html' %}
{% load i18n templatetag_handlebars product_tags %}
{% load url from future %}

{% block title %}{% trans 'Product Detail' %} - {{ object.name }}{% endblock %}

{% block pre-body %}
    <span class="pull-right"><a href="{{ object.shop.url }}{{ object.shopify_url }}" class="btn">{% trans 'View in Shopify' %}</a></span>
    <h2>{{ object.name }}</h2>
{% endblock %}

{% block body %}
<div class="main">
    <div class="row">
        <div class="span9">
            <div class="widget widget-table">
                <div class="widget-header">
                    <span class="icon-list-alt"></span>
                    <h3>{% trans 'Product Properties' %}</h3>
                    <button type="edit" class="btn btn-warning pull-right" data-toggle="modal" href="#editPropertiesModal" >{% trans 'Edit Properties' %}</button>
                </div>                  
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>                                
                                <th class="span3">{% trans 'Property name' %}</th>
                                <th>{% trans 'Value' %}</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="name">{% trans 'Product' %}</td>
                                <td class="value"><span>{{ object.name }}</span></td>
                            </tr>
                            <tr>
                                <td class="name">{% trans 'Product type' %}</td>
                                <td class="value"><span>{{ object.product_type }}</span></td>
                            </tr>
                            <tr>
                                <td class="name">{% trans 'Product vendor' %}</td>
                                <td class="value"><span>{{ object.data.vendor }}</span></td>
                            </tr>
                            {% for property in object.basic_props %}
                            <tr>
                                <td class="name">{{ property.name }}</td>
                                <td class="value">{% for p in property.value %}<span class="label label-info">{{ p }}</span>&nbsp;{% endfor %}</td>
                            </tr>
                            {% endfor %}
                            {% for property in object.properties_plus %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="span3">
            <!-- Product image, taken out for the moment, not critical. 
            <div class="widget">
                                {% if object.featured_image_src %}
                                    <img id="feature-image" src="{{ object.featured_image_src|image_resize:"medium" }}" border="0"/>
                                {% else %}
                                    <img src="http://placehold.it/300x150&text=No Product Thumb">
                                {% endif %}
                                {% for i in object.get_images_src %}
                                    <img class="product image" src="{{ i|image_resize:"medium" }}" border="0"/>
                                {% endfor %}
                                
            </div> -->
            <!--Product description block-->
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-pushpin"></i>
                    <h3>{% trans 'Product Description' %}</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    {{ object.summary|safe|truncatewords:30 }}
                </div>
            </div>
            <!--Product tags block-->
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-pushpin"></i>
                    <h3>{% trans 'Product Tags' %} </h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    {{ object.data.tags }}
                </div>
            </div>
        </div>
        <div class="span12">
            <div class="widget widget-table">
                <div class="widget-header">
                    <span class="icon-barcode"></span>
                    <h3>{% trans 'Product Inventory' %}</h3>
                </div>
                <div class="widget-content">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th class="cen span1"><input type="checkbox"/></th>
								<th>SKU</th>
								<th>Price</th>
								<th>In Stock</th>
								{% for option in object.basic_props %}
								<th>{{ option.name }}</th>
								{% endfor %}
								<th></th>
							</tr>
						</thead>
						<tbody data-bind="foreach: variantsList()">
						    {% for variant in variants %}
						    <tr>
                                <td class="cen"><input type="checkbox"/></td>
                                <td class="value" data-bind="text: sku">{{variant.sku}}</td>
                                <td class="value" data-bind="text: cost">{{variant.cost}}</td>
                                <td class="value" data-bind="text: num_in_stock">{{variant.num_in_stock}}</td>
                                {% for option_id,option in variant.basic_options.iteritems %}
                                <td class="value">{{ option.value }}</td>
                                {% endfor %}
                                <td class="value cen">
                                <a data-toggle="modal" data-variant_pk="{{ variant.pk }}" href="#editVariationModal" class="btn-modal-form btn btn-mini btn-warning">{% trans 'Edit' %}</a>
                                <a href="#" class="btn btn-mini disabled pull-right"><i class="icon-resize-vertical"></i></a>
                                </td>
						    </tr>
						    {% endfor %}
							<tr>
								<td colspan="12"><a data-toggle="modal" data-variant_pk="add" href="#editVariationModal" class="btn-modal-form btn btn-small btn-success pull-right">{% trans 'Add Variation' %}</a></td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'product/forms/product_props.html' %}
{% include 'product/forms/variant_props.html' %}

<script id="data-variant_list">
[{% for v in variants %}
{ 'pk': '{{ v.pk }}', 'provider_id':'{{ v.provider_id }}', 'cost': '{{ v.cost }}', 'sku': '{{ v.sku|default:"" }}', 'compare_at_price':'{{ v.data.compare_at_price }}', 'weight':'{{ v.weight_as_kg }}', 'taxable':{{ v.data.taxable|lower }}, 'requires_shipping':{{ v.data.requires_shipping|lower }}, 'inventory_management':'{{ v.data.inventory_management }}', 'basic_product_options': { {% for option_id,o in v.basic_options.iteritems %}'{{ option_id }}': {'name':'{{ o.name }}', 'value':'{{ o.value }}'},{% endfor %} } }{% if not forloop.last %}, {% endif %}
{% endfor %}]
</script>

{% endblock %}

{% block js %}
<script type='text/javascript' src='{{ STATIC_URL }}knockoutjs/js/knockout-2.1.0.js'></script>
<script>
$(document).ready(function(){

    function VariantsViewModel() {
        var self = this;

        self.blankVariant = new Variant(null,null,0,0,0,0,false,false,false,[]);
        self.currency = '{{ object.shop.currency_symbol|safe }}';
        self.selectedVariant = ko.observable(self.blankVariant);
        self.basicProductOptions = ko.observableArray([{% for o,v in object.get_data_options.iteritems %}new ProductOption('{{ o }}','{{ v.name }}','{{ v.value }}'),{% endfor %}]);
        self.extraProductOptions = ko.observableArray([]);
        self.currencySymbol = '{{ object.shop.currency_symbol|safe }}';

        self.formTitle = ko.observable('');
        self.formSubmitMessage = ko.observable('');

        var variant_list = eval($('script#data-variant_list').html());
        self.variantsList = ko.observableArray([]);

        for (var i = 0; i < variant_list.length; i++) {
            v = variant_list[i];
            variant = new Variant(v.pk,v.provider_id,v.cost,v.sku,v.compare_at_price,v.weight,v.taxable,v.requires_shipping,v.inventory_management,v.basic_product_options);
            self.variantsList.push(variant);
        }

        //self.formProductPropsPostUrl = ko.observable('');
        self.formVariantPropsPostUrl = ko.observable('');

        self.appendToVariantList = function(variant) {
            var found = false;
            for (var i=0; i < self.variantsList().length; i++) {
                if (self.variantsList()[i].pk == variant.pk) {
                    found = true;
                    break;
                }
            }
            if (found == false) {
                self.variantsList.push(variant);
                //self.setSelectedVariant(variant.pk);
            }
        }

        self.setSelectedVariant = function(variant_pk) {
            for (var i=0; i < self.variantsList().length; i++) {
                if (self.variantsList()[i].pk == variant_pk) {
                    return self.updateSelectedVariant(self.variantsList()[i])
                    break;
                }
            }
            return self.updateSelectedVariant(self.blankVariant)
        }

        self.updateSelectedVariant = function(variant) {
            self.formSubmitMessage('');
            self.selectedVariant(variant);
            self.selectedVariant().setVariantBasicProperties();
            self.updateVariantPropsPostUrl();

            return self.selectedVariant
        }

        self.updateVariantPropsPostUrl = function() {
            var url = "{% url 'product:variant' slug=object.slug variant_pk=999 %}";

            if (self.selectedVariant().pk !== null) {
                self.formTitle('{% trans "Edit a Variant" %}');
                url = url.replace('999', self.selectedVariant().pk) + '?provider_id=' + self.selectedVariant().provider_id;
            }else{
                self.formTitle('{% trans "Add a Variant" %}');
                url = "{% url 'product:add_variant' slug=object.slug %}";
            }
            self.formVariantPropsPostUrl(url);
            return self.formVariantPropsPostUrl;
        }

    };

    function Variant(pk,provider_id,cost,sku,compare_at_price,weight,taxable,requires_shipping,inventory_management,basic_product_options) {
        var self = this;
        self.pk = pk;
        self.provider_id = provider_id;
        self.cost = cost;
        self.sku = sku;
        self.compare_at_price = compare_at_price;
        self.weight = weight;
        self.taxable = taxable;
        self.requires_shipping = requires_shipping;
        self.inventory_management = inventory_management;
        self.basic_product_options = basic_product_options;
        self.basic_props = ko.observableArray([]);

        self.setVariantBasicProperties = function() {
            // reset
            self.basic_props([]);

            for (var i = 0; i < AppVariants.basicProductOptions().length; i++) {
                prop_type = AppVariants.basicProductOptions()[i].prop_type;

                field_name = AppVariants.basicProductOptions()[i].prop_type
                name = AppVariants.basicProductOptions()[i].internal_name;

                if (self.basic_product_options.length == 0) {
                    value = ' ';
                }else{
                    if (self.basic_product_options[prop_type].value != '') {
                        value = self.basic_product_options[prop_type].value;
                    }else{
                        value = ' ';
                    }
                }

                if (name != '' && name != 'None' && value != '' && value != 'None') {
                    self.basic_props.push({'field_name': field_name, 'name': name, 'value':  value})
                }
            }
        }
    }
    function ProductOption(prop_type,internal_name,name,value) {
        var self = this;
        self.prop_type = prop_type;
        self.internal_name = internal_name;
        self.name = name;
        self.value = value;
    }

    // ----- KO Instances -----
    AppVariants = new VariantsViewModel()
    // ----- KO Bindings -----
    ko.applyBindings(AppVariants, document.getElementById('editVariationModal'));

    $('#submit-variant-props').live('click', function(event) {
        event.preventDefault();
        $.ajax({
          type: 'POST',
          url: AppVariants.formVariantPropsPostUrl(),
          data: $('#form-variant-props').serialize(),
          dataType: 'json'
        })
        .success(function(data, textStatus, jqXHR) { 

            response = eval(data);
            AppVariants.formSubmitMessage(response.message);

            v = response.object;
            v.basic_product_options = [v.option1,v.option2,v.option3];
            variant = new Variant(v.pk,v.provider_id,v.price,v.sku,v.compare_at_price,v.grams,v.taxable,v.requires_shipping,v.inventory_policy,v.basic_product_options);
            AppVariants.appendToVariantList(variant)
            console.log(AppVariants.variantsList())

            if (response.status == 'success') {
                status_class = 'btn-success';
            }else{
                status_class = 'btn-warning';
            }
            $('div#form-variant-message').hide().fadeIn('slow').removeClass().addClass(status_class).addClass('messages')

        })
        .error(function() { 
            AppVariants.formSubmitMessage('Sorry, something bad happened!');
            $('div#form-variant-message').hide().fadeIn('slow').removeClass().addClass('btn-danger').addClass('messages')
        })
        .complete(function() {
        });
    });
    
    $('a.btn-modal-form').live('click', function(event) {
        event.preventDefault();
        var variant_pk = $(this).attr('data-variant_pk');
        if (variant_pk != undefined && variant_pk != 'add') {
            AppVariants.setSelectedVariant(variant_pk);
        }else{
            AppVariants.updateSelectedVariant(AppVariants.blankVariant);
        }
    });

});
</script>
{% endblock %}
