{% extends 'widget/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Configure' %} {{ widget.name }}{% endblock %}

{% block content-head %}
<h1>{% trans 'Configure' %} {{ widget.name }}</h1>
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
  <li class="active"><a href="">{% trans 'Configure' %}</a></li>
  <li><a href="">{% trans 'Properties &amp; Variants' %}</a></li>
</ul>

<div id="">
    <form action="{% url 'widget:edit' slug=widget.slug %}" method="post" class="form-horizontal">{% csrf_token %}
        {{ form }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div id="">
    <h3>{% trans 'Properties &amp; Variants' %}</h3>
    <strong>@IMPLEMENT_WITH emberjs</strong>
    <p>List of Variants that are clickable and can have properties applied to them once clicked upon</p>
    {% with products_list=shop.0.product_set.all %}
    <ul>
        {% for p in products_list %}
        <li>
            <a href="{% url 'widget:custom_apply_post' slug=widget.slug provider_pk=p.provider_id %}">{{ p.name }}</a>
            {% if p.data.variants %}
            <ul>
                {% for v in p.data.variants %}
                 <li><a href="{% url 'widget:custom_apply_post' slug=widget.slug provider_pk=p.provider_id %}?variant={{ v.id }}">{{ v.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endwith %}
</div>
{% endblock %}
