{% load templatetag_handlebars %}
{% load url from future %}
{% spaceless %}
{% tplhandlebars "widget-auth-facebook-title" %}
    {{#if App.FBUser}}
    <h1>Hi there {{App.FBUser.first_name}}...</h1>
    <a href="{% url 'default:logout' %}" {{action "logout" target="FB"}}>Logout</a>
    {{else}}
    <h1>Connect to shop</h1>
    {{/if}}
{% endtplhandlebars %}
{% tplhandlebars "widget-auth-facebook-fb_login" %}
    {{#if App.FBUser}}
          <div class="">
              {{App.FBUser.name}}
          </div>
          <img {{bindAttr src="App.FBUser.picture" alt="App.FBUser.name"}} />
    {{else}}
      {{#view Em.FacebookView type="login-button" data-size="xlarge" data-scope="email, read_stream, publish_stream, offline_access"}}
        Connect
      {{/view}}
    {{/if}}
{% endtplhandlebars %}
{% endspaceless %}