{% load templatetag_handlebars %}{% load url from future %}{% spaceless %}

{% tplhandlebars "variation-controls" %}
<select>
{{#each product.all_properties}}
    <option value="{{option_id}}">{{name}}</option>
{{/each}}
</select>
{% endtplhandlebars %}

{% tplhandlebars "product-properties" %}
<table border="1">
{{#each variant.all_properties}}
<tr>
    <td class="cv-pp-name">{{name}}</td>
    <td class="cv-pp-value">{{value}}</td>
</tr>
{{/each}}
<table>
{% endtplhandlebars %}

{% endspaceless %}
