{% extends 'product/base.html' %}
{% load i18n %}

{% block title %}Product Detail{% endblock %}

{% block content-head %}
<h1>Product Detail</h1>
{% endblock %}

{% block pre-body %}
<div class="hero-unit">
    <h2>{{ object.name }}</h2>
    <strong>{{ object.data.vendor }}: {{ object.product_type }}</strong>
    <br/>{{ object.data.tags }}
    {{ object.data.featured_image }}
</div>
{% endblock %}

{% block body %}

<div class="span5">
{{ object.summary|safe }}
</div>

<div class="span5">
<a href="{{ object.shop.url }}{{ object.shopify_url }}">View in Shopify</a>
</div>
{% endblock %}
